[tool.poetry]
name = "env-proxy"
version = "0.1.2"
description = "Creates a class used to query environmental variables with typehinting a conversion to basic Python types."
authors = ["Tomas Votava <info@tomasvotava.eu>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/tomasvotava/env-proxy"
repository = "https://github.com/tomasvotava/env-proxy"
documentation = "https://tomasvotava.github.io/env-proxy/"

[tool.black]
line_length = 119

[tool.poetry.dependencies]
python = "^3.8"

[tool.poetry.dev-dependencies]
black = "^21.9b0"
pylint = "^2.10.2"
mypy = "^0.910"
pdoc3 = "^0.10.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
